* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
}

.calculator {
  width: 400px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  box-shadow: 0 0 10px #111;
}

.output {
  grid-column: 1/-1;
  color: #fff;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
}
.history {
  display: flex;
  gap: 5px;
  font-size: 1.3rem;
}
.primary-operand {
  text-align: right;
  height: 30px;
}
.secondary-operand{
    height: 25px;
}

button {
  padding: 20px;
  background-color: #444;
  font-size: 1.5rem;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}
button:hover{
    background-color: #555;
}
button:active{
    background-color: #666;
}

.span-two {
  grid-column: span 2;
}
